body {
        margin: 0px;
        padding: 0px;
        font-family: "Lato", sans-serif;
      }
      header {
        padding: 10px;
        display: flex;
      }
      .logo img {
        width: 150px;
      }

      .menu ul li {
        display: inline-block;
      }

      div {
        display: inline-block;
      }

      a {
        text-decoration: none;
      }

      .menu ul li {
        padding: 13px;
      }

      .menu {
        margin-left: auto;
      }
